button {
    background-color: #0c80f3;
    border: 6px solid #0ff166;
    border-radius: 10px;
    width: 150px;
  }
  
  select {
    display: block;
    margin-bottom: 20px;
  }
  
  .submitBtn {
    padding: 10px 60px;
    background: #1dc130;
    border:0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
  }
